.patient-profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.patient-profile-container h1 {
    color: var(--primary-color);
    padding: 10px;
    font-size: xxx-large;
}

.patient-profile-container-one {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 50px;
}

 .field-container {
     display: flex;
     align-items: center;
     padding: 10px;
 }

 .field-container p {
     margin-right: 10px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: large;
     font-weight: bold;
     width: 200px;
 }

 .patient-profile-container-two {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 50px;
 }

 .edit-button,
 .signout-button,
 .delete-button {
     color: white;
     padding: 1px 30px;
     border: 0;
     border-radius: 10px;
     font-size: 16px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 .edit-button {
     background-color: #3131e2;
 }

 .signout-button {
     background-color: #29f529;
 }

 .delete-button {
     background-color: #f0140d;
 }

 .edit-button:hover {
     background-color: #191967;
 }

 .signout-button:hover {
     background-color: #295029;
 }

 .delete-button:hover {
     background-color: #740400;
 }

 @media screen and (max-width: 1366px) {
     .patient-profile-container-one{
         width: 100%;
         margin-left: 30px;
     }

     .patient-profile-container-two {
         width: 100%;
     }

 }

 @media screen and (max-width: 950px) {

     .patient-profile-container-one {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 0;
     }

     .edit-button,
     .signout-button,
     .delete-button {
         width: 25%;
         padding: 3px;
         margin-bottom: 10px;
         font-size: 12px;
         margin-right: 10px;
     }
 }

 @media screen and (max-width: 768px) {
     .patient-profile-container {
         align-items: center;
     }

     .patient-profile-container-one {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 0;
         margin-top: 10px;
     }

     .patient-profile-container-two {
         flex-direction: column;
     }
 }

 @media (max-width: 375px) {

    .patient-profile-container h1 {

         font-size: xx-large;
     }

         .patient-profile-container-one {
         margin-left: 90px;
         padding-right: 0;
         width: 75%;
     }

     .patient-profile-container p {
         margin-right: 0;
     }
 }