<div class="profile-container">
  <h1>My Profile</h1>
  <div class="profile-container-one">
    <img class="user-image" [src]="userimg" alt="" />
  </div>

  <div class="profile-container-two">
    <div class="profile-textfield-container">
      <div class="field-container">
        <p>Full Name:</p>
        <app-textfields
          type="text"
          size="md"
          placeholder=""
          [(value)]="textValue"
        /><br />
      </div>
      <div class="field-container">
        <p>Doctor Id:</p>
        <app-textfields
          type="text"
          size="md"
          placeholder=""
          [(value)]="textValue"
        /><br />
      </div>
      <div class="field-container">
        <p>Speciality:</p>
        <app-textfields
          type="text"
          size="md"
          placeholder=""
          [(value)]="textValue"
        /><br />
      </div>
    </div>
    <div class="profile-textfield-container">
      <div class="field-container">
        <p>Email:</p>
        <app-textfields
          type="text"
          size="md"
          placeholder=""
          [(value)]="textValue"
        /><br />
      </div>
      <div class="field-container">
        <p>Mobile Number:</p>
        <app-textfields
          type="text"
          size="md"
          placeholder=""
          [(value)]="textValue"
        /><br />
      </div>
      <div class="field-container">
        <p>Hospital Name:</p>
        <app-textfields
          type="text"
          size="md"
          placeholder=""
          [(value)]="textValue"
        /><br />
      </div>
    </div>
  </div>

  <div class="profile-container-three">
    <button class="edit-button">
      <h2>Edit Details</h2>
    </button>
    <button class="save-button">
      <h2>Save</h2>
    </button>
    <button class="signout-button">
      <h2>Sign Out</h2>
    </button>
    <button class="delete-button">
      <h2>Delete account</h2>
    </button>
  </div>
</div>
